@page
@model fh_family_experience_web.Pages.Shared.ServiceErrorsModel
@{
}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
                <p class="govuk-body">Try again later.</p>
                <p class="govuk-body">
                    <a class="govuk-link" href="#">Contact the Helpline</a> if you need speak to someone.
                </p>
            </div>
        </div>
    </main>
</div>