################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net6.0
/obj
/fh-family-experience-web.csproj.user
/fh-family-experience-api/bin/Debug/net6.0
/fh-family-experience-api/obj
