################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/fh-family-experience-sharedkernel/obj/Release/net6.0
/src/fh-family-experience-sharedkernel/obj
/src/fh-family-experience-sharedkernel/bin/Debug/net6.0
/src/fh-family-experience-infrastructure/obj/Release/net6.0
/src/fh-family-experience-infrastructure/obj
/src/fh-family-experience-infrastructure/bin/Debug/net6.0
/src/fh-family-experience-core/obj/Release/net6.0
/src/fh-family-experience-core/obj
/src/fh-family-experience-core/bin/Debug/net6.0
/src/fh-family-experience-api/obj/Release/net6.0
/src/fh-family-experience-api/obj
/src/fh-family-experience-api/bin/Debug/net6.0
/obj/fh-family-experience-sharedkernel/obj/Release/net6.0
/obj/fh-family-experience-sharedkernel/obj
/obj/fh-family-experience-sharedkernel/bin/Debug/net6.0
/obj/fh-family-experience-infrastructure/obj/Release/net6.0
/obj/fh-family-experience-infrastructure/obj
/obj/fh-family-experience-infrastructure/bin/Debug/net6.0
/obj/fh-family-experience-core/obj/Release/net6.0
/obj/fh-family-experience-core/obj
/obj/fh-family-experience-core/bin/Debug/net6.0
/obj/fh-family-experience-api/obj/Release/net6.0
/obj/fh-family-experience-api/obj
/obj/fh-family-experience-api/bin/Debug/net6.0
/obj
/src/fh-family-experience-web/bin/Debug/net6.0
/src/fh-family-experience-web/obj
/src/fh-family-experience-repo/fh-family-experience-repo-redis/obj
/src/fh-family-experience-repo/fh-family-experience-repo-sql/obj/Debug
