@page
@model FindServicesOverviewModel
@{
    ViewData["Title"] = "Find Services Overview";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
            Find services or groups
        </h1>

        <p>Services and groups run at different places, like family hubs, children’s centres, community centres and health clinics.</p>

        <p>Search here for support from services and groups, such as:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>special educational needs and disabilities (SEND) support</li>
          <li>youth clubs for teenagers and young people</li>
          <li>help for parents and carers</li>
          <li>pregnancy, birth, postnatal and early years support</li>
        </ul>

        <p>Services and groups run at different places, like family hubs, children’s centres, community centres and health clinics.</p>

        <form id="find-services" method="post">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="postcode-services">
                    Enter postcode
                </label>
                <input class="govuk-input govuk-input--width-10" id="postcode-services" name="postcode-services" type="text">
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
        <p>As this service is new, not all local authority services will be listed. 
      If there are no services or groups listed in your area, you will be signposted to your council website.</p>
        <div class="govuk-inset-text">
          Some services are only available to local residents.
        </div>
    </div>
</div>