@page
@model fh_family_experience_web.Pages.FindServicesGroupOrActivityEmptyModel
@{
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
            End of build version
        </h1>

    </div>
</div>