@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<input type="hidden" id="testId" name="testId" value="Test" />

<div class="full-BGstrip">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Find your local family support services</h1>
            <p>You can use this service to find support and groups for you or your family.</p>
            <p>Your nearest family hub is a welcoming place to go that offers a wide range of local support, groups and services for the whole family.</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-4">At your local family hub you can find:</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>social groups in your area</li>
                <li>support for parents and carers, such as with infant feeding</li>
                <li>children’s health clinics</li>
                <li>classes and workshops</li>
                <li>baby and toddler groups</li>
                <li>youth groups</li>
                <li>support for special educational needs and disabilities (SEND)</li>
            </ul>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-4">Family support services and groups are available for:</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>babies</li>
                <li>children</li>
                <li>young people up to age 19 (up to 25 with SEND)</li>
                <li>parents and carers</li>
            </ul>
        </div>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-2">

    <div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
            <div class="govuk-card__content">
                <h2 class="govuk-heading-m">Find a family hub</h2>
                <p class="govuk-body govuk-!-margin-bottom-2">If you’re looking for general family services and activities near you, family hubs are a good place to start. They bring together local services in one place for families.</p>
                <p class="govuk-body govuk-!-margin-bottom-2">Your family hub can help your whole family with the nearest:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>support</li>
                    <li>services</li>
                    <li>groups</li>
                </ul>
                <div class="nhsuk-action-link govuk-!-margin-bottom-1">
                    <a class="nhsuk-action-link__link" href="family-hub">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                        </svg>
                        <span class="nhsuk-action-link__text">Start here</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
            <div class="govuk-card__content">
                <h2 class="govuk-heading-m">Find services or groups</h2>
                <p class="govuk-body govuk-!-margin-bottom-2">If you’re looking for a specific type of support or group, you can search for all kinds of services for families across different family hubs, such as:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>help with child development</li>
                    <li>groups and classes for babies, toddlers, young people, parents and carers</li>
                    <li>mental health support</li>
                    <li>help with relationships</li>
                </ul>
                <div class="nhsuk-action-link" style="margin-top: 50px;">
                    <a class="nhsuk-action-link__link" href="find-services-overview">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                        </svg>
                        <span class="nhsuk-action-link__text">Start here</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
