@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<input type="hidden" id="testId" name="testId" value="Test" />

<div class="full-BGstrip">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Family hubs</h1>
            <p>Family hubs bring local services together in one place for families, children and young people.</p>
            <p>Each family hub or children’s centre offers a different range of services, for example:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    breastfeeding support
                </li>
                <li>
                    child development clinics
                </li>
                <li>
                    parenting workshops
                </li>
                <li>
                    mental health help
                </li>
                <li>
                    groups and clubs
                </li>
            </ul>
            <p>Choose an option below to find out more.</p>
        </div>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-2">

    <div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
            <div class="govuk-card__content">
                <h2 class="govuk-heading-m">Find a family hub</h2>
                <p class="govuk-body">Learn more about family hubs and find centres near you.</p>
                <div class="nhsuk-action-link govuk-!-margin-top-7">
                    <a class="nhsuk-action-link__link" href="family-hub">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                        </svg>
                        <span class="nhsuk-action-link__text">Start here</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
            <div class="govuk-card__content">
                <h2 class="govuk-heading-m">Find services or groups</h2>
                <p class="govuk-body">Discover local services for children, young people and families.</p>
                <div class="nhsuk-action-link govuk-!-margin-top-7">
                    <a class="nhsuk-action-link__link" href="find-services-overview">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                        </svg>
                        <span class="nhsuk-action-link__text">Start here</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
