<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="fh-family-experience" connectionString="Data Source=LAPTOP-J6PB0R59\SQLEXPRESS;Initial Catalog=fh-family-experience;" providerName="System.Data.SqlClient"/>-->
		<add name="fh-family-experience" connectionString="Server=LAPTOP-J6PB0R59\\SQLEXPRESS;Database=CleanArchitecture;Trusted_Connection=True;MultipleActiveResultSets=true"/>
	</connectionStrings>
</configuration>